---
import { fetchLinks } from "../lib/api";
const links = await fetchLinks();
---

<html>
  <head><title>Links</title></head>
  <body>
    <h1>Link Hub</h1>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.url} target="_blank" rel="noopener">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
