---

---

<header class="bg-white shadow">
  <nav class="container mx-auto px-4 py-3 flex space-x-6">
    <a href="/" class="hover:text-blue-600">Home</a>
    <a href="/blog" class="hover:text-blue-600">Blog</a>
    <a href="/pages" class="hover:text-blue-600">Pages</a>
    <a href="/linkhubs" class="hover:text-blue-600">Links</a>
  </nav>
</header>
