---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><slot name="title" /> – Corrison</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot name="header" />
    <main class="flex-grow">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
